/* Основные стили для темной темы */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6
    ;
    color: #f0f0f0;
    background-color: #121212;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    scrollbar-color: #1e1e1e #111111;
    scrollbar-width: auto;
}

/* Стили для контейнера */
.container {
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding: 0;
}

/* Стили для информационного блока слева */
.info-block {
    flex: 0 0 300px;
    padding-right: 20px;
    overflow-y: auto;
    height: calc(100vh);
    padding-top: 10px;
}



header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #dddddd;
}

header p {
    margin: 0% 0 0;
    font-size: 1.4em;
    color: #a0a0a0;
}

/* Стили для секций */
section {
    margin-bottom: 30px;
}

h2 {
    color: #cccccc;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

/* Стили для списка навыков */
.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 5px;
}


/* Стили для контактной информации */
.contact a {
    color: #2787FA;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Стили для портфолио (правая колонка) */
.portfolio {
    flex: 1;
    overflow-y: auto;
    height: calc(100vh);
    padding-top: 10px;
}

/* Стили для списка видео */
.video-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Стили для отдельных элементов видео */
.video-item {
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.video-item video {
    width: 100%;
    height: auto;
    display: block;
}

.video-item h3 {
    margin: 15px 15px 5px;
    color: #cccccc;
}

.video-item p {
    margin: 0 15px 15px;
    font-size: 1em;
    color: #a0a0a0;
}


/* Медиа-запросы для адаптивности */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .info-block, .portfolio {
        flex: none;
        width: 100%;
        height: auto;
        overflow-y: visible;
    }

    .info-block {
        padding-right: 0;
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
}
